.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.noRecipe {
    margin: 10%;
    font-size: xx-large;
    font-weight: 700;
}